/* Caveat Font - Locally hosted */
@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('caveat-400.ttf') format('truetype');
}

@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('caveat-600.ttf') format('truetype');
}

@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('caveat-700.ttf') format('truetype');
}